.header-container {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    &__title {
        padding-left: 10px;
    }
}

.header-container-link {
    border: 0px none white;
    &__img {
        width: 36px;
        height: 36px;
    }
}